# dependencies
/node_modules

# build
/dist

# env
.env
.env.local
.env.*.local

# logs
logs
*.log
npm-debug.log*

# OS
.DS_Store

# Claude Code
.claude/

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# uploads
/uploads

# test coverage
/coverage
